ol{ display: flex;
    list-style: none;
}
li{
    padding: 20px;
}
img {
    height: 100px;
    width: 100px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}